* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bebas: 'Bebas Neue';
}

// Curtain

.curtain {
    position: relative;
    height: 100vh;
    overflow: hidden;
    // display: flex;
    display: none;

    &__site {
        flex-basis: 50%;
        background-size: cover;

        &--left {
            background-image: url('../images/curtain_left.jpg');
            background-position: 100%;
            animation: movingLeftSite 2s linear 4s both;
        }

        &--right {
            background-image: url('../images/curtain_right.jpg');
            animation: movingRightSite 2s linear 4s both;
        }
    }

    .progress-bar {
        position: absolute;
        top: 20%;
        left: 15%;
        right: 15%;
        height: 3vh;
        animation: hidingThings 0.5s linear 3s both;

        &__bar {
            height: 100%;
            background-color: gold;
            border-radius: 2vh;
            overflow: hidden;

            .progress-bar__active-bar {
                height: 100%;
                background-color: orangered;
                transform: translateX(-100%);
                animation: progressBar 3s linear both;
            }
        }

        &__token {
            position: absolute;
            top: 0;
            left: 0;
            width: 8vh;
            transform: translate(-50%, calc(-50% + 1.5vh));
            animation: progressToken 3s linear both;
        }
    }

    &__box-title {
        position: absolute;
        top: 73vh;
        left: 0;
        right: 0;
        animation: hidingThings 0.5s linear 3s both;

        .curtain__title {
            text-align: center;
            font-size: 3.5rem;
            font-family: var(--bebas);
            letter-spacing: 2px;
            color: gold;
            text-shadow: 0 0 5px orangered, 0 0 10px orangered,
                0 0 20px orangered, 0 0 30px orangered,
                0 0 40px orangered;
        }
    }
}

@keyframes movingLeftSite {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%)
    }
}

@keyframes movingRightSite {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%)
    }
}

@keyframes progressBar {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes progressToken {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}

@keyframes hidingThings {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (min-width: 768px) {
    .curtain {

        .progress-bar {
            left: 25%;
            right: 25%;
        }

        &__box-title {

            .curtain__title {
                font-size: 7rem;
                letter-spacing: 5px;
                text-shadow: 0 0 10px orangered, 0 0 20px orangered,
                    0 0 30px orangered, 0 0 40px orangered,
                    0 0 50px orangered;
            }
        }
    }
}

@media (orientation: landscape) and (min-height: 360px) {
    .curtain {

        &__site {

            &--left {
                background-position: 100% 70%;
            }

            &--right {
                background-position: 0 70%;
            }
        }

        .progress-bar {
            left: 20%;
            right: 20%;
        }
    }
}

@media (orientation: landscape) and (min-height: 768px) {
    .curtain {

        &__site {

            &--left {
                background-position: 100% 50%;
            }

            &--right {
                background-position: 0 50%;
            }
        }

        &__box-title {

            .curtain__title {
                font-size: 6rem;
                letter-spacing: 7px;
                text-shadow: 0 0 10px orangered, 0 0 20px orangered,
                    0 0 30px orangered, 0 0 40px orangered,
                    0 0 50px orangered;
            }
        }
    }
}

@media (min-width: 1440px) {
    .curtain {

        &__site {

            &--left {
                background-position: 0 50%;
            }

            &--right {
                background-position: 100% 50%;
            }
        }
    }
}