.baccarat__main {
    display: none;
}

@media only screen and (orientation: landscape) and (min-height: 360px) {
    .rotate-container {
        display: none;
    }

    .baccarat {

        &__main {
            display: block;
            filter: blur(1px);
            pointer-events: none;

            .main--blured {
                animation: blurWindow 2s linear 1s both;
            }

            .play {

                &__deck {
                    position: absolute;
                    top: 5%;
                    left: 15%;
                    width: 47px;
                    height: 62px;
                    z-index: 99;
                    padding: 4px;
                    border-top: 3px solid white;
                    border-left: 3px solid white;

                    &--start {
                        top: 5%;
                        padding: 0;
                        width: 35px;
                        height: 50px;
                        left: 70%;
                        border: none;
                    }
                }

                .option-btns {
                    position: absolute;
                    top: 50%;
                    left: 45%;
                    transform: translateX(-50%);
                    display: none;
                    flex-direction: row;

                    &__btn {
                        width: 3.5rem;
                        height: 3.5rem;
                        border-radius: 50%;
                        background: rgba(255, 68, 0, 0.6);
                        font-family: 'Bebas Neue';
                        letter-spacing: 1px;
                        color: rgba(255, 217, 0, 0.7);
                        border: 2px solid rgba(255, 217, 0, 0.7);

                        &:hover {
                            border: 4px solid rgba(255, 217, 0, 0.7);
                            background: orangered;
                        }

                        &--pick {
                            margin-right: 1rem;
                        }
                    }
                }

                &__circle-points {
                    position: absolute;
                    top: 5%;
                    left: 30%;
                    width: 2rem;
                    height: 2rem;
                    border: 2px solid gold;
                    border-radius: 50%;
                    color: orangered;
                    display: none;

                    &--user {
                        top: 35%;
                    }

                    .play__points {
                        text-align: center;
                        line-height: 2rem;
                        font-size: 1.1rem;
                    }
                }

                &__active-card {
                    position: absolute;
                    width: 35px;
                    height: 50px;
                    top: 5%;
                    left: 70%;
                }

            }
        }
    }
}

@keyframes blurWindow {
    0% {
        filter: blur(0);
    }

    30%,
    99% {
        filter: blur(20px);
    }

    100% {
        filter: blur(0);
    }
}

@media only screen and (orientation: landscape) and (min-height: 768px) {
    .rotate-container {
        display: none;
    }

    .baccarat {

        &__main {
            display: block;

            .play {

                &__deck {
                    width: 67px;
                    height: 82px;

                    &--start {
                        width: 55px;
                        height: 70px;
                    }
                }

                .option-btns {

                    &__btn {
                        width: 6.5rem;
                        height: 6.5rem;
                        font-size: 1.7rem;
                        letter-spacing: 2px;
                    }
                }

                &__circle-points {
                    width: 3rem;
                    height: 3rem;

                }

                .play__points {
                    line-height: 3rem;
                    font-size: 1.6rem;
                }
            }
        }
    }
}

@media only screen and (orientation: landscape) and (min-width: 1440px) {
    .rotate-container {
        display: none;
    }

    .baccarat {

        &__main {
            display: block;

            .play {

                &__deck {
                    width: 77px;
                    height: 92px;

                    &--start {
                        width: 65px;
                        height: 80px;
                    }
                }

                .option-btns {

                    &__btn {
                        width: 6.5rem;
                        height: 6.5rem;
                        font-size: 1.7rem;
                        letter-spacing: 2px;
                    }
                }

                &__circle-points {
                    width: 3rem;
                    height: 3rem;

                }

                .play__points {
                    line-height: 3rem;
                    font-size: 1.6rem;
                }
            }
        }
    }
}