.contact {

    .main {
        min-height: 100vh;
        background-color: rgb(20, 20, 20);

        .contact-box {
            width: 100%;
            height: 100%;
            text-align: center;
            margin-bottom: 5rem;

            &__title {
                margin: 3rem 0 2rem;
                font-family: 'Bebas Neue';
                letter-spacing: 1px;
                font-size: 2rem;
                color: rgb(245, 245, 245);
                text-shadow: 0 0 10px green, 0 0 20px green,
                    0 0 40px green, 0 0 30px green,
                    0 0 50px green;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 30%;
                    margin-top: 1rem;
                    width: 40%;
                    height: 2px;
                    background-color: green;
                }
            }

            &__subtitle {
                font-size: 1.1rem;
                color: rgba(245, 245, 245, 0.7);
                margin-bottom: 2rem;
            }

            .data-container {
                width: 100%;
                text-align: center;
                display: flex;
                flex-wrap: wrap;

                .data-box {
                    flex-basis: 100%;
                    margin: 2.5rem 0;

                    &__circle {
                        margin: 0 auto 1.5rem;
                        width: 15vh;
                        height: 15vh;
                        border: 3px solid green;
                        border-radius: 50%;
                        position: relative;

                        .data-box__icon {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 2rem;
                            color: green;
                        }
                    }

                    &__name {
                        font-family: 'Bebas Neue';
                        font-size: 2rem;
                        color: rgb(245, 245, 245);
                        margin-bottom: .5rem;
                    }

                    &__text {
                        display: inline;
                        font-size: 1rem;
                        color: rgba(245, 245, 245, 0.7);

                        &--day {
                            margin: .2rem;
                            display: block;
                        }
                    }

                    &__icon {
                        color: rgb(245, 245, 245);
                        transform: translateY(-25%);
                        cursor: pointer;

                        &--close {
                            transform: translateY(25%);
                            display: none;
                        }
                    }

                    &__list {
                        margin: 1rem;
                        list-style: none;
                        display: none;
                    }
                }
            }
        }

        .contact-message {
            background-image: url('../images/contact-img.jpg');
            background-position: center;
            background-size: cover;
            text-align: center;
            padding: 2rem 0 3rem;

            &__title {
                margin-bottom: 3rem;
                font-family: 'Bebas Neue';
                letter-spacing: 1px;
                font-size: 2rem;
                color: rgb(245, 245, 245);
                text-shadow: 0 0 10px green, 0 0 20px green,
                    0 0 40px green, 0 0 30px green,
                    0 0 50px green;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 30%;
                    margin-top: 1rem;
                    width: 40%;
                    height: 2px;
                    background-color: green;
                }
            }

            .contact-form {
                position: relative;
                padding: 0 4rem;

                &__input {
                    min-height: 2rem;
                    margin: .5rem 0;
                    width: 100%;
                    background-color: rgb(70, 70, 70);
                    border: none;
                    border: 1px solid rgb(100, 100, 100);
                    padding-left: 2rem;
                    color: rgb(207, 207, 207);

                    &--message {
                        padding: .3rem 1rem;
                    }

                    &::placeholder {
                        font-size: .7rem;
                    }

                    &:focus {
                        outline: none;
                        border-color: orangered;
                        color: orangered;
                        box-shadow: 0 0 10px orangered, 0 0 20px orangered,
                            0 0 40px orangered, 0 0 30px orangered,
                            0 0 50px orangered;
                    }

                    &--name:focus~.contact-form__icon--name {
                        opacity: 1;
                        color: orangered;
                    }

                    &--surname:focus~.contact-form__icon--surname {
                        opacity: 1;
                        color: orangered
                    }

                    &--email:focus~.contact-form__icon--email {
                        opacity: 1;
                        color: orangered;
                    }
                }

                &__icon {
                    position: absolute;
                    top: 1.5rem;
                    left: 4.5rem;
                    transform: translateY(-50%);
                    font-size: .8rem;
                    color: rgb(207, 207, 207);
                    opacity: .3;

                    &--surname {
                        top: 4.5rem;
                    }

                    &--email {
                        top: 7.5rem;
                    }
                }

                &__button {
                    text-decoration: none;
                    display: inline-block;
                    margin: 1rem 1.5rem;
                    padding: 0.5rem 1rem;
                    border: 1px solid gold;
                    color: rgb(112, 150, 37);
                    background-color: gold;
                    box-shadow: 0 0 10px orangered, 0 0 20px orangered,
                        0 0 40px orangered, 0 0 30px orangered,
                        0 0 50px orangered;
                    cursor: pointer;

                    &:hover {
                        background-color: orangered;
                        border-color: orangered;
                        color: gold;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .contact {

        .main {

            .contact-box {

                &__title {
                    margin: 5rem 0 3rem;
                    letter-spacing: 5px;
                    font-size: 4rem;
                    text-shadow: 0 0 20px green, 0 0 30px green,
                        0 0 50px green, 0 0 40px green,
                        0 0 60px green;

                    &:before {
                        left: 25%;
                        width: 50%;
                        height: 4px;
                    }
                }

                &__subtitle {
                    font-size: 1.7rem;
                    margin-bottom: 4rem;
                }

                .data-container {

                    .data-box {
                        flex-basis: 50%;

                        &__circle {
                            border: 5px solid green;

                            .data-box__icon {
                                font-size: 3rem;
                            }
                        }

                        &__name {
                            font-size: 3rem;
                            margin-bottom: 1rem;
                        }

                        &__text {
                            font-size: 1.5rem;

                            &--day {
                                margin: .4rem;
                            }
                        }

                        &__icon {
                            font-size: 1.3rem;
                        }

                        &__list {
                            margin: 2rem;
                        }
                    }
                }
            }

            .contact-message {
                padding: 5rem 0 3rem;

                &__title {
                    letter-spacing: 5px;
                    font-size: 4rem;
                    text-shadow: 0 0 20px green, 0 0 30px green,
                        0 0 50px green, 0 0 40px green,
                        0 0 60px green;

                    &:before {
                        left: 25%;
                        width: 50%;
                        height: 4px;
                    }
                }

                .contact-form {
                    padding: 0 10rem;

                    &__input {
                        min-height: 2.5rem;
                        margin: .8rem 0;
                        padding-left: 3rem;
                        font-size: 1rem;

                        &::placeholder {
                            font-size: 1rem;
                        }
                    }

                    &__icon {
                        top: 2.05rem;
                        left: 10.5rem;
                        font-size: 1.3rem;
                        color: rgb(207, 207, 207);
                        opacity: .3;

                        &--surname {
                            top: 6.15rem;
                        }

                        &--email {
                            top: 10.25rem;
                        }
                    }

                    &__button {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}

@media screen and (orientation: landscape) and (min-height: 360px) {
    .contact {

        .main {

            .contact-box {
                margin-bottom: 3rem;

                &__title {
                    font-size: 2.5rem;
                }

                .data-container {

                    .data-box {
                        flex-basis: 25%;

                        &__circle {
                            width: 20vh;
                            height: 20vh;

                            .data-box__icon {
                                font-size: 1.5rem;
                            }
                        }

                        &__name {
                            font-size: 1.5rem;
                        }

                        &__text {
                            font-size: .7rem;
                        }

                        &__icon {
                            font-size: .8rem;
                        }
                    }
                }
            }

            .contact-message {

                .contact-form {
                    padding: 0 7rem;

                    &__icon {
                        left: 7.5rem;
                    }
                }
            }
        }
    }
}

@media screen and (orientation: landscape) and (min-height: 768px) {
    .contact {

        .main {

            .contact-box {

                &__title {
                    font-size: 3.5rem;
                }

                .data-container {
                    margin-left: 5%;
                    width: 90%;

                    .data-box {

                        &__circle {
                            height: 18vh;
                            width: 18vh;

                            .data-box__icon {
                                font-size: 3rem;
                            }
                        }

                        &__name {
                            font-size: 2rem;
                            letter-spacing: 3px;
                        }

                        &__text {
                            font-size: 1.2rem;
                        }

                        &__icon {
                            font-size: 1.1rem;
                        }
                    }
                }
            }

            .contact-message {
                padding: 5rem 0 3rem;


                .contact-form {
                    padding: 0 10rem;

                    &__input {
                        min-height: 3rem;
                        font-size: 1.2rem;

                        &::placeholder {
                            font-size: 1.1rem;
                        }
                    }

                    &__icon {
                        top: 2.3rem;
                        left: 10.5rem;
                        font-size: 1.5rem;

                        &--surname {
                            top: 6.9rem;
                        }

                        &--email {
                            top: 11.5rem;
                        }
                    }

                    &__button {
                        padding: 1rem 2rem;
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}

@media screen and (orientation: landscape) and (min-width: 1440px) {
    .contact {

        .main {

            .contact-box {

                &__title {
                    font-size: 3.5rem;

                    &:before {
                        left: 40%;
                        width: 20%;
                    }
                }

                .data-container {
                    margin-left: 5%;
                    width: 90%;

                    .data-box {

                        &__circle {
                            height: 18vh;
                            width: 18vh;

                            .data-box__icon {
                                font-size: 3rem;
                            }
                        }

                        &__name {
                            font-size: 2rem;
                            letter-spacing: 3px;
                        }

                        &__text {
                            font-size: 1.2rem;
                        }

                        &__icon {
                            font-size: 1.1rem;
                        }
                    }
                }
            }

            .contact-message {

                .contact-form {
                    padding: 0 20rem;

                    &__icon {
                        left: 20.5rem;
                    }
                }
            }
        }
    }
}