@media only screen and (orientation: landscape) and (min-height: 360px) {

    .play {
        position: absolute;
        top: 11vh;
        left: 0;
        height: 89vh;
        width: 100%;
        z-index: 98;
        font-family: 'Bebas Neue';
        letter-spacing: 1px;
        color: rgba(255, 217, 0, 0.7);
        font-size: .9rem;

        &__saldo {
            position: absolute;
            top: 50%;
            left: 10%;

            span {
                font-size: 1.2rem;
                color: orangered;
            }
        }

        .form {
            position: absolute;
            top: 40%;
            left: 10%;

            &__rate {
                background: transparent;
                border: 1px solid rgba(255, 217, 0, 0.7);
                box-shadow: 0 0 2px gold;
                font-size: 1rem;
                color: orangered;
                width: 55px;
                padding: .1rem;

                &:focus {
                    outline: none;
                    border: 1px solid orangered;
                    box-shadow: 0 0 2px orangered;
                }
            }
        }

        &__play-btn {
            position: absolute;
            top: 55%;
            left: 45%;
            padding: .2rem .6rem;
            color: rgba(255, 217, 0, 0.7);
            font-family: 'Bebas Neue';
            letter-spacing: 1px;
            font-size: 1.2rem;
            overflow: hidden;
            transition: .2s;
            background: transparent;
            border: none;
            box-shadow: 0 0 10px orangered, 0 0 40px orangered, 0 0 80px orangered;
            cursor: pointer;

            &:hover {
                background: orangered;
                box-shadow: 0 0 10px orangered, 0 0 40px orangered, 0 0 80px orangered;
            }
        }

        .stats {
            position: absolute;
            top: 10%;
            left: 80%;
            font-size: .8rem;

            &__text {
                font-size: .9rem;
                margin-bottom: 1rem;
                text-shadow: 0 0 10px orangered, 0 0 30px orangered;
            }

            span {
                color: orangered;
                font-size: 1.1rem;
            }
        }
    }

    .score-info {
        position: absolute;
        width: 100%;
        height: 100vh;
        text-align: center;
        z-index: 99;
        line-height: 100vh;
        font-size: 5rem;
        font-family: 'Bebas Neue';
        letter-spacing: 4px;
        color: gold;
        text-shadow: 0 0 5px orangered, 0 0 10px orangered,
            0 0 20px orangered, 0 0 30px orangered,
            0 0 40px orangered;
        transform: scale(0);

        &--animate {
            animation: showScoreInfo 2s linear 1s both;
        }
    }
}

@keyframes showScoreInfo {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    99% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@media only screen and (orientation: landscape) and (min-height: 768px) {

    .play {
        font-size: 2rem;

        &__saldo {
            left: 6%;

            span {
                font-size: 2.2rem;
            }
        }

        .form {
            position: absolute;
            top: 40%;
            left: 6%;

            &__rate {
                font-size: 2rem;
                width: 95px;
            }
        }

        &__play-btn {
            position: absolute;
            top: 55%;
            left: 45%;
            letter-spacing: 3px;
            font-size: 2.5rem;
        }

        .stats {
            position: absolute;
            top: 10%;
            left: 80%;
            font-size: 1.8rem;

            &__text {
                font-size: 1.9rem;
                margin-bottom: 1rem;
                text-shadow: 0 0 10px orangered, 0 0 30px orangered;
            }

            span {
                color: orangered;
                font-size: 2rem;
            }
        }
    }

    .score-info {
        font-size: 7rem;
        letter-spacing: 5px;
    }
}

@media only screen and (orientation: landscape) and (min-width: 1440px) {

    .play {
        font-size: 2rem;

        &__saldo {
            left: 6%;

            span {
                font-size: 2.2rem;
            }
        }

        .form {
            position: absolute;
            top: 40%;
            left: 6%;

            &__rate {
                font-size: 2rem;
                width: 115px;
            }
        }

        &__play-btn {
            position: absolute;
            top: 55%;
            left: 45%;
            letter-spacing: 3px;
            font-size: 2.5rem;
        }

        .stats {
            position: absolute;
            top: 10%;
            left: 80%;
            font-size: 1.8rem;

            &__text {
                font-size: 1.9rem;
                margin-bottom: 1rem;
                text-shadow: 0 0 10px orangered, 0 0 30px orangered;
            }

            span {
                color: orangered;
                font-size: 2rem;
            }
        }
    }

    .score-info {
        font-size: 9rem;
        letter-spacing: 7px;
    }
}