// Rotate info
.rotate-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(27, 27, 27);
    color: orangered;
    text-align: center;
    font-family: 'Bebas Neue';

    &__border {
        position: absolute;
        top: 1rem;
        left: 1rem;
        bottom: 1rem;
        right: 1rem;
        border: 3px solid gold;
        box-shadow: 0 0 5px orangered, 0 0 10px orangered,
            0 0 20px orangered, 0 0 30px orangered;
    }

    &__name {
        margin: 10vh 3rem;
        font-size: 3.5rem;
        letter-spacing: 2px;
        color: gold;
        text-shadow: 0 0 5px orangered, 0 0 10px orangered,
            0 0 20px orangered, 0 0 30px orangered,
            0 0 40px orangered;
    }

    &__phone {
        position: absolute;
        top: 40vh;
        left: 30%;
        transform-origin: right bottom;
        font-size: 6rem;
        animation: rotatePhone 2s linear infinite both;
    }

    &__text {
        margin: 35vh 2rem;
        font-size: 2rem;
        color: gold
    }
}

@keyframes rotatePhone {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(90deg);
    }
}

@media only screen and (min-width: 768px) {
    .rotate-container {

        &__border {
            top: 2rem;
            left: 2rem;
            bottom: 2rem;
            right: 2rem;
            border: 5px solid gold;
            box-shadow: 0 0 5px orangered, 0 0 10px orangered,
                0 0 20px orangered, 0 0 30px orangered,
                0 0 40px orangered, 0 0 50px orangered;
        }

        &__name {
            margin: 15vh 5rem;
            font-size: 5.5rem;
            letter-spacing: 4px;
        }

        &__phone {
            left: 35%;
            font-size: 8rem;
        }

        &__text {
            margin: 45vh 7rem;
            font-size: 4rem;
        }
    }
}