.war {
    display: none;
}

@media only screen and (orientation: landscape) {
    .rotate-container {
        display: none;
    }

    .war {
        display: block;

        .main {

            .play {

                .points-container {
                    position: absolute;
                    top: 10%;
                    left: 1vw;
                    z-index: 99;
                    display: none;

                    &__text {
                        margin-bottom: .5rem;
                        font-size: .8rem;

                        .points-container__points {
                            color: orangered;
                            font-size: 1.1rem;
                        }
                    }
                }

                &__hand {
                    position: absolute;
                    top: 8%;
                    left: 30vw;
                    width: 35px;
                    height: 50px;
                    display: none;

                    &--user {
                        top: 40%;
                        left: 65vw;
                    }
                }

                &__active-card {
                    position: absolute;
                    top: 8%;
                    left: 30vw;
                    width: 35px;
                    height: 50px;
                    display: none;

                    &--user {
                        top: 40%;
                        left: 65vw;
                    }
                }

                &__put-out {
                    position: absolute;
                    top: 50%;
                    left: 35vw;
                    width: 3.5rem;
                    height: 3.5rem;
                    border-radius: 50%;
                    background: rgba(255, 68, 0, 0.6);
                    font-family: 'Bebas Neue';
                    letter-spacing: 1px;
                    color: rgba(255, 217, 0, 0.7);
                    border: 2px solid rgba(255, 217, 0, 0.7);
                    display: none;

                    &:hover {
                        border: 4px solid rgba(255, 217, 0, 0.7);
                        background: orangered;
                    }
                }
            }

            .score-container {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 99;
                display: none;

                &__text {
                    text-align: center;
                    line-height: 100vh;
                    font-size: 0rem;
                    font-family: 'Bebas Neue';
                    letter-spacing: 5px;
                    color: gold;
                    text-shadow: 0 0 10px orangered, 0 0 20px orangered,
                        0 0 40px orangered, 0 0 30px orangered,
                        0 0 50px orangered;
                }
            }
        }
    }
}

@keyframes blurWindow {
    0% {
        filter: blur(0);
    }

    30%,
    99% {
        filter: blur(20px);
    }

    100% {
        filter: blur(0);
    }
}

@media only screen and (orientation: landscape) and (min-height: 768px) {}

@media only screen and (orientation: landscape) and (min-width: 1440px) {}